.modal,
.modalF{
    width: 50vw;
    height: 60vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    gap: 20px;
    padding: 20px;
}
.modalF{
    height: 80vh;
}
.form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.input,
.inputF,
.inputD{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.inputF{
    width: 20%;
}
.inputD{
    width: 78%;
    margin-left: 10px;
}
.But,
.ButF{
    background-color: #FFCF07;
    width: 100%;
    height: 5vh;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    cursor: pointer;
}
.But:hover,
.ButF:hover{
    background-color: #FFA80F;
}
.but{
    margin-top: 20px;
    padding: 10px;
    background: none;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.but:hover{
    background-color: #FFA80F;
    color: white;
    border: none;
}
.select{
    width: 23%;
}
.ButF{
    width: 23%;
}