.module{
    width: 100vw;
    height: 80vh;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    display: flex;
    width: 50%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    gap: 50px;
}
.title{
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.h1{
    font-weight: bold;
    font-size: xx-large;
    cursor: default;
}
.inputCon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    transition: 0.3s ease;
}
.input:hover{
    padding: 10px 25px;
}
.input::placeholder{
    color: gray;
    transition: 0.3s ease;
}
.input:hover::placeholder{
    color: black;
}
.errorModal{
    width: 40%;
    height: 30%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: white;
}
.closeModal,
.submitButton{
    background-color: #FFCF07;
    border: none;
    width: 10%;
    height: 10%;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.submitButton{
    margin-top: 30px;
    width: 12vw;
    height: 4vh;
    cursor: pointer;
}